.outcontainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    width: 1150px;
    /* padding: 30px; */
    margin-left: 0%;
    
}
.all,.courier,.parcel{
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
    margin: 50px;
}
.message{
    margin-top: 220px;
    text-align: center;
}